@import url(http://fonts.googleapis.com/css?family=Titillium+Web);

@font-face {
    font-family: 'FonteLogo';
    src: url("../fontes/bubblegum-sans-regular.otf");
}

section#conteudo {
    width: 960px;
    margin: 0 auto;
    background-color: white;
    color: black;
    text-align: justify;
    font-family: Arial;
    clear: both;
}

article {
    width: 920px;
    padding: 20px;
    background-color: white;
    min-height:400px;
}

#conteudo figure {
    float: left;
    width: 400px;
    margin: 0px;
    padding: 0px;
    margin-right:15px;
}

#conteudo figcaption {
    display: none;
}

p {
    font-size: 1.3em;
}
h1 {
    margin-top:0;
    font-family: 'FonteLogo';
    font-size: 4em;
    padding:20px 0px 0px 0px;
    border-bottom:4px solid navy;        
    margin-right:0;
    margin-left:0;
    color:navy;
    text-align:center;
}

h2 {
    margin-top:0;
    font-family: 'FonteLogo';
    font-size: 1.8em;
    color: #153ca8;
    padding-left: 6px;
    background-color: #eee;
    background-color: #f6b271;
}

h3 {
    font-family: 'FonteLogo';
    font-size: 1.5em;
    color: #153ca8;
}

h4 {
    font-family: Arial;
    font-size: 1.2em;
    color: #000;
}
li, dt, dd {
    font-size: 1.3em;
}
/*Tabela*/
table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 50%;
    border-collapse: collapse;
}

    table td{
        font-size: 1em;
        border: 1px solid #2d7bf6;
        padding: 3px 7px 2px 7px;
    }

    table th {
        border: 1px solid #2d7bf6;
        font-size: 1.1em;
        text-align: left;
        padding: 5px 7px 4px 7px;
        background-color: #2da9f6;
        color: #ffffff;
    }

    table tr.alt td {
        color: #000000;
        background-color: #d1f7fc;
    }

    table .titulo-tabela {
        background-color: navy;
        text-align: center;
    }