@font-face {
    font-family: 'FonteLogo';
    src: url("../fontes/bubblegum-sans-regular.otf");
}

body {
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
}

#cabecalho {
    margin: 0px auto;
    width: 960px;
    height: 89px;
    background-color: #2da9f6;
}

#logo {
    margin: 0;
    padding: 0;
    height: 89px;
    float: left;
    color: #fff;
    text-shadow: 0px 0px 15px #000;
    font-size: 30pt;
    font-weight: bold;
    line-height: 89px;
    padding: 0px 5px;
}

#share {
    width: 110px;
    height: 89px;
    float: right;
    /*text-align: right;*/
}

    #share img {
        margin-top: 5px;
        width: 30px;
        border-radius: 150px;
    }

nav {
    width: 960px;
    height: 30px;
    margin: 0px auto;
    float: left;
    background-color: inherit;
}

.menu {
    position: relative;
    left: 5px;
    height: 20px;
    list-style: none;
    padding: 0;
    text-align: center;
    margin-right: 10px;
    margin-top: 3px;
}

    .menu li {
        display: inline;
        height: 22px;
        width: 88px;
        font-size: 12pt;
        background-color: inherit;
        margin: 0;
        margin-left: -4px;
        padding: 10px;
        /*vertical-align:top;*/
    }    
        .menu li a {
            padding: 7px 4px;
            display: inline;
            height: inherit;
            width: inherit;
            color: #000;
            font-weight: 700;
            text-decoration: none;
        }


    .menu a:hover {
        background-color: #fff;
        /*color: #2da9f6;*/
        color:initial;
    }

    .menu li:hover {
        background-color: #fff;
        /*color: #2da9f6;*/
    }
    #submenu li:hover {
        background-color: #fff;
        /*color: #2da9f6;*/
    }

    .menu li a:visited {
        color: black;
        font-weight: 700;
    }

    .menu li:last-child {
        border-right: none;
    }

    .menu li ul {
        display: none;
        position: absolute;
        position: fixed;
        margin-left: 670px;
        margin-top: 3px;
        list-style: circle;
    }

    .menu li:hover ul, .menu li.over ul {
        display: block;
    }

    #submenu li {
        background-color: #2da9f6;
        display: block;
        border: 1px solid #fff;
        width: 147px;
    }

        #submenu li a {
            display: block;
        }


#rodape {
    margin: 0 auto;
    width: 960px;
    height: 200px;
    background-color: lightgreen;
    /*border: 1px solid black;*/
}
