/*
    Fontes indicadas por Edmiel: open-sans, lato
*/

body {
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
    background-color: #eee;
}

.separador {
    clear: both;
}

#centralizador {
    width: inherit;
}

/*figure#banner{    
    margin:1px auto 0px;
    width:960px;
    height:520px;   
}*/

figure#banner {
    width: 1920px;
    height: 900px;
    width: 960px;
    height: 540px;
    margin: 0px auto;
    overflow: hidden;
    /*border: 3px solid #76bde9;
    outline: 1px solid #2da9f6;*/
}

    figure#banner:hover {
        /*border: 3px solid #6b97e6;
        outline: 1px solid #2da9f6;*/
    }


section#conteudo {
    width: 960px;
    margin: 0 auto 0px;
}

section.grupo {
    width: inherit;
    height: auto;
    overflow: hidden;
}

    section.grupo figure {
        height: auto;
        width: auto;
        padding: 0px;
        margin: 2px;
        float: left;
        background-color: #888;
        overflow: no-content;
        width:316px;
    }

        section.grupo figure a {
            display: block;
            height: 295px;
            padding: 0;
            margin: 0;
            outline: none;
            overflow: no-content;
        }

        section.grupo figure img {
            /*width: 316px;
            height: 296px;*/
            /*height: 300px;*/
            width: 300px;
            
            
            overflow: no-content;
            /*border: 3px solid #76bde9;
            outline: 1px #2da9f6 solid;*/
        }
        section.grupo figure {
            overflow: visible;

            
        }
